[submodule "userservice"]
	path = userservice
	url = https://github.com/comp-phys-marc/userservice.git
[submodule "apiservice"]
	path = apiservice
	url = https://github.com/comp-phys-marc/apiservice.git
[submodule "simulationservice"]
	path = simulationservice
	url = https://github.com/comp-phys-marc/simulationservice.git
[submodule "rustsimulationservice"]
	path = rustsimulationservice
	url = https://github.com/comp-phys-marc/rustsimulationservice.git
