[submodule "userservice"]
	path = userservice
	url = https://gitlab.com/QuantumEmulator/userservice.git
[submodule "apiservice"]
	path = apiservice
	url = https://gitlab.com/QuantumEmulator/apiservice.git
[submodule "simulationservice"]
	path = simulationservice
	url = https://gitlab.com/QuantumEmulator/simulationservice.git
[submodule "analysisservice"]
	path = analysisservice
	url = https://gitlab.com/QuantumEmulator/analysisservice.git
[submodule "circuitservice"]
	path = circuitservice
	url = https://gitlab.com/QuantumEmulator/circuitservice.git
[submodule "quantumemulatorhardwarecli"]
	path = quantumemulatorhardwarecli
	url = https://gitlab.com/QuantumEmulator/quantumemulatorhardwarecli.git
[submodule "rustsimulationservice"]
	path = rustsimulationservice
	url = https://gitlab.com/QuantumEmulator/rustsimulationservice.git
